/* INTRODUCTION
 * This variant is the standard, grey, LazyDaze Theme.
 * This is eye candy only. All the layout code is in index.css.
 *
 * All theme variants depend on the layout code for stability.
 * It is better to copy code to a variant CSS file for testing.
 * -------------------------------------------------------
 * $CONTENTS
 *
 *		$GENERAL.............Global resets, clearfixes, etc.
 *		$COMMON..............Common classes to drive you bonkers.
 *		$BBC.................Quotes, code blocks, BBC styles.
 *		$AJAX................The "loading" bar (quick edit, etc).
 *
 *		$MAIN................Forum header, wrapper, and footer.
 *		$MENUS...............Main and secondary menus.
 *		$LINKTREE............The breadcrumbs.
 *		$BUTTONS.............Most button strips.
 *		$PAGELINKS...........Page navigation links.
 *
 *		$TABLES..............Generic tables (memberlist, error log, etc).
 *		$SETTINGS............Generic lists for settings pages.
 *		$BOARDS..............Board index, sub-boards, and message index.
 *
 *		$TOPICS..............The display template (topic view), including send.
 *		$EDITOR..............Main editor (posts, events, polls) and topic summary.
 *		$MODERATE............Move topic, split topic, merge topic.
 *
 *		$PROFILE.............The profile areas.
 *		$PERSONAL............The personal messages (PM) areas.
 *		$CALENDAR............The calendar
 *		$STATISTICS..........The statistics centre.
 *
 *		$HELP................Help pages, help icons and pop-ups, tooltips.
 *		$SEARCH..............Search pages, including memberlist search.
 *		$MEMBERLIST..........The memberlist table.
 *		$LOGIN...............Login and registration, maintenance mode.
 *
 *		$BOXES...............Message boxes (error, warning, info, etc).
 *		$PROGRESS............Nifty progress bars.
 *		$MEDIA...............Experimental media queries.
 */
:root {
	--shadow-color: 0deg 0% 80%;
	--shadow-elevation-low:
			0.3px 0.5px 0.8px hsl(var(--shadow-color) / 0.17),
			0.4px 0.9px 1.3px -0.6px hsl(var(--shadow-color) / 0.29),
			1px 2px 2.9px -1.2px hsl(var(--shadow-color) / 0.4);
	--shadow-elevation-medium:
			0.3px 0.5px 0.8px hsl(var(--shadow-color) / 0.18),
			1px 2px 2.9px -0.4px hsl(var(--shadow-color) / 0.27),
			2.3px 4.5px 6.6px -0.8px hsl(var(--shadow-color) / 0.36),
			5px 10px 14.7px -1.2px hsl(var(--shadow-color) / 0.45);
	--shadow-elevation-high:
			0.3px 0.5px 0.8px hsl(var(--shadow-color) / 0.17),
			2px 4.1px 6px -0.2px hsl(var(--shadow-color) / 0.21),
			3.7px 7.3px 10.7px -0.4px hsl(var(--shadow-color) / 0.25),
			5.6px 11.2px 16.4px -0.5px hsl(var(--shadow-color) / 0.29),
			8.3px 16.6px 24.4px -0.7px hsl(var(--shadow-color) / 0.34),
			12.1px 24.2px 35.5px -0.9px hsl(var(--shadow-color) / 0.38),
			17.5px 35.1px 51.5px -1.1px hsl(var(--shadow-color) / 0.42),
			25px 50px 73.4px -1.2px hsl(var(--shadow-color) / 0.46);
}

/* -------------------------------------------------------
 *	$GENERAL
 * -------------------------------------------------------
 */
/* Normal, standard links. */
a, a:link, a:visited,
	/* Links that open in a new window. */
a.new_win:link, a.new_win:visited {
	color: #333333;
}

/* Cursor declared here.Should not be required anywhere else. */
a:hover, a.new_win:hover {
}

/* Stop white band under footer on short pages. */
/* This color should match $FOOTER background. */
html {
	background: #F6F8F9;;
}

body {
	color: #444444;
	background: #F6F8F9;
}

.wf-loading {
	overflow: hidden;
	height: 100%;
	background: #F6F8F9;
}

fieldset {
	border-color: #CCCCCC;
	background: transparent;
	box-shadow: inset -1px -1px 3px #FEFEFE;
}

legend {
	font-size: 1.071em;
	margin-left: 15px;
	padding: 0 0 2px 20px;
	cursor: pointer;
	color: #333333;
	background: url(../../images/selected_open.png) no-repeat scroll left center transparent;
}

.collapsed legend {
	background: url(../../images/selected.png) no-repeat scroll left center transparent;
}

input, button, select, textarea, .editor {
	color: #333333;
	border-color: #CCCCCC;
	background: #FEFEFE;
}

input:hover, textarea:hover, button:hover, select:hover {
	border-color: #999999;
}

textarea:hover, .editor:hover {
	color: #444444;
	background: #FBFBFB;
}

input:focus, textarea:focus, button:focus, select:focus, .editor:focus {
	border-color: #999999;
}

/* Give disabled text input elements a different background color. */
input[disabled].input_text, input[disabled].input_password {
	background: #EEEEEE;
}

/* The OpenID login form */
.openid_login {
	padding-left: 20px;
	background: white url(../../images/openid.png) no-repeat 2% 50%;
}

/* Common button styling. */
input[type="submit"], .drop_area_fileselect_text, button[type="submit"], input[type="button"],
.button_submit, .right_submit, .left_submit, .button_reset, .drop_area_fileselect_text,
/* Anchors styled to look like buttons. */
/* These have standard body text size. Can be chained with smalltext class. */
.linkbutton:link, .linkbutton_right:link, .linkbutton_left:link,
.linkbutton:visited, .linkbutton_right:visited, .linkbutton_left:visited, .ila {
	color: #555555;
	border-color: #AFAFAF;
	border-top-color: #CFCFCF;
	border-left-color: #BFBFBF;
	background: #F4F4F4 linear-gradient(to bottom, #FEFEFE, #E4E4E4);
	box-shadow: 1px 1px 2px #E5E5E5, 0 -1px 0 #E4E4E4 inset;
}

/* Hover effects. */
input[type="submit"]:hover, button[type="submit"]:hover, input[type="button"]:hover,
.button_submit:hover, .right_submit:hover, .left_submit:hover, .ila:hover,
.button_reset:hover,
.linkbutton:hover, .linkbutton_right:hover, .linkbutton_left:hover {
	text-decoration: none;
	color: #555555;
	border-color: #CCCCCC;
	border-top-color: #AFAFAF;
	border-left-color: #AFAFAF;
	background: #F0F0F0;
	box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.07) inset;
}

/* Don't show disabled buttons as active on hover */
input[type=submit][disabled]:hover, button[disabled], button[disabled]:hover {
	border-color: #AFAFAF;
	border-top-color: #CFCFCF;
	border-left-color: #BFBFBF;
	box-shadow: 1px 1px 2px #E5E5E5;
}

/* the new "button" */
.new_posts, .new_posts:visited, .new_posts:link {
	padding: 2px 6px;
	color: #FEFEFE;
	background: #6BA65E;
}

/* approval indicator */
.require_approval {
	color: #FEFEFE;
	background: #F3B200;
}

/* Standard horizontal rule.. ([hr], etc.) */
hr {
	border-top-color: #BBBBBB;
	border-bottom-color: #E4E4E4;
	background: #EEEEEE;
}

strong {
	color: #686868;
}

/* @todo - Test this everywhere. */
.standard_category {
	background: #E4E4E4;
	box-shadow: var(--shadow-elevation-low);
}

/* @todo - Test this everywhere. */
.standard_category > .content {
	border-color: #DDDDDD;
	background: #FEFEFE;
}

/* Styles for main headers. */
.category_header, .forum_category .category_header, .forumposts .category_header, .content_category .category_header {
	color: #FEFEFE;
	border-color: #DDE5EA;
	background: #4A4E51;
}

/* Styles for subsection headers. @todo */
.secondary_header {
	color: #F0F0F0;
	border-color: #CCCCCC;
	border-top-color: transparent;
	background: #313131;
}

#advanced_panel_link {
	color: #FEFEFE;
}

.category_header a:link, .category_header a:visited,
.category_header a.new_win:link, .category_header a.new_win:visited,
h3.category_header, h2.category_header {
	font-weight: 600;
	text-transform: uppercase;
	color: #FEFEFE;;
}

/* Upshrink image in the general category headers */
#category_toggle, #category_toggle_more, #upshrink_header {
}

/* Upshrink image in the page top for the header collapse */
#collapse_button .linklevel1 {
}

/* Custom highlighted text style for modern browsers.
 * Nicer than default. Needs two separate rules.
 */
::-moz-selection {
	color: #444444;
	background: #D8FFDF;
}

::selection {
	color: #444444;
	background: #D8FFDF;
}

/* Other highlighted text, such as search results. */
.highlight {
	color: #FF7200;
}

/* Sometimes there will be an error when you post */
.error {
	color: red !important;
}

.border_error {
	border-color: red !important;
}

/* Messages that somehow need to attract the attention. */
.alert {
	color: red;
}

/* Colors for warnings. */
.warn_mute {
	color: red;
}

.warn_moderate, .softalert {
	color: #FFA500;
}

.warn_watch, .success {
	color: green;
}

.moderation_link, .moderation_link:visited {
	color: red;
}
/* Used for sections that need somewhat larger corners */
.roundframe, .well {
	border-color: #C5C5C5;
	background: #F5F5F5;
}

/* The generic wrapper thingy. */
.generic_list_wrapper {
	border-color: #CCCCCC;
	box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
}

.generic_list_wrapper .additional_row {
}

.generic_list_wrapper .title_bar {
	border-bottom-color: #FEFEFE;
	background: none;
}

.generic_list_wrapper .information {
	border-bottom-color: #FEFEFE;
	background: none;
}

/* Styles used by the auto suggest control. */
.auto_suggest_div {
	border-color: #BBBBBB;
}

.auto_suggest_div:focus {
	border-color: #BBBBBB;
}

.auto_suggest_item {
	background: #DDDDDD;
}

.auto_suggest_item_hover {
	color: #EEEEEE;
	background: #888888;
}

/* -------------------------------------------------------
 * $BBC
 * -------------------------------------------------------
 */
/* The "Quote:" and "Code:" header parts... */
.codeheader, .quoteheader {
	color: #555555;
	border-color: #CCCCCC;
	background: #FEFEFE;
}

.codeheader {
	border-top-color: #AAAAAA;
}

/* [Select] link to copy code. */
.codeoperation {
}

/* A quote, perhaps from another post. */
.bbc_quote,
/* A code block - maybe PHP ;) - shared styles. */
.bbc_code {
	border-color: #CCCCCC;
	background: #FEFEFE;
}

input[type=checkbox].quote-show-more {
	background: linear-gradient(to bottom, transparent 0%, transparent 25%, #FEFEFE 100%);
	box-shadow: 0 1px 0 1px #E4E4E4;
}

/* Extra quote styling */
.bbc_quote, .quoteheader {
	box-shadow: 2px 2px 2px #DDDDDD;
}

/* Extra code block styling. */
.bbc_code {
	border-top-color: #AAAAAA;
	border-bottom-color: #AAAAAA;
	background: #F8F8F8;
}

/* Styling for BBC tags */
.bbc_link:link, .bbc_link:visited {
	color: #377828;
	box-shadow: 0 -1px 0 #CEDCCB inset;
}

.bbc_link:hover {
	color: #377828;
	box-shadow: 0 -1px 0 #66AA55 inset;
}

/* Styling for tables inside posts */
.inner > .bbc_table_container > .bbc_table td,
.messageContent > .bbc_table_container > .bbc_table td {
	border-right: 1px solid #CCCCCC;
	border-bottom-color: #CCCCCC;
}

.inner > .bbc_table_container > .bbc_table th,
.messageContent > .bbc_table_container > .bbc_table th {
	border-right: 1px solid #CCCCCC;
	border-bottom-color: #BBBBBB;
}

.inner > .bbc_table_container > .bbc_table td:last-child,
.inner > .bbc_table_container > .bbc_table th:last-child,
.messageContent > .bbc_table_container > .bbc_table td:last-child,
.messageContent > .bbc_table_container > .bbc_table th:last-child {
	border-right: none;
}

/* /me uses this a lot. (emote, try typing /me in a post.) */
.meaction {
	color: #222222;
}

.meaction:before {
}

.spoilerheader {
}

.spoiler {
	border-color: #CCCCCC;
	background-color: #EEEEEE;
}

div.bbc_footnotes {
	border-top-color: #BFBFBF;
}

.bbc_footnotes .target:target {
	background-color: #D8FFDF;
}

sup.bbc_footnotes, sup.bbc_footnotes a {
	color: #222222;
}

div.bbc_footnotes .meaction {
}

/* -------------------------------------------------------
 *	$AJAX
 * -------------------------------------------------------
 */
/* The "Loading" bar for quick edit, etc. */
#ajax_in_progress, .ajax_infobar {
	color: #306430;
	border-bottom-color: #EBECEF;
	background: #FEFEFE;
}

#ajax_in_progress a {
	color: orange;
}

/* -------------------------------------------------------
 *	$MAIN.
 * -------------------------------------------------------
 */
/* The top bar. */
#top_section {
}

#header {
}

#menu_nav {
	background: #4A4E51;
}

#siteslogan {
	color: #999999;
}

/* Maintenance mode warning. */
#top_section_notice, .notice {
	color: #A80000;
}

#search_form {
}

#search_form .controls {
	border-radius: 0;
	background: #FAFAFA;
}

#search_form.active {
	background-color: #FEFEFE;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}

#search_form .input_text {
}

#search_form .input_text.search_nd {
	background: #FEFEFE;
}

#search_form .button_submit.with_select {
	box-shadow: 1px 1px 2px #E5E5E5, 0 -1px 0 #E4E4E4 inset;
}

#search_form select {
	opacity: 0.8;
	border-color: #AFAFAF;
}

#search_form select:focus {
	opacity: 1;
	border-color: #999999;
}

#search_form button {
	color: #777777;
	background-color: #4993C5;
}

#forumtitle > a {
	color: #848F9D;
	text-shadow: 1px 1px 0 #000000;
}

/* News section. */
#news {
}

#news > h2 {
}

#news > h2:before {
	color: #4993C5;
}

#news_line, #news {
	color: #686868;
	border-color: #CCCCCC;
	background: #FAFAFA;
	box-shadow: 1px 2px 3px #EEEEEE;
}

/* Main forum area. */
/* Box-shadow only on this one. */
#wrapper {
	border-color: #E5E5E5;
	background: #FEFEFE;
}

/* The footer with copyright links etc. */
#footer_section {
	color: #BBBBBB;
	border-top-color: #EBECEF;
	background: #222222;
	box-shadow: 0 -1px 0 #777777, 0 1px 0 #0E0E0E inset;
}

#footer_section p, #footer_section a {
	color: #BBBBBB;
}

#footer_section .rssfeeds {
	color: orange;
	background-color: white;
	text-shadow: 1px 1px 0 #000000;
}

.action_viewquery a, .action_viewquery strong,
#debug_logging a, #debug_logging strong {
	color: yellow;
}

#debug_logging {
	color: #BBBBBB;
	background: #222222;
}

#debug_logging_wrapper {
	background: #222222;
}

/* -------------------------------------------------------
 *	$MENUS
 * -------------------------------------------------------
 */
/* Top Menu */
/* Level 1 Menu bar: link or button. General styling. */
#main_menu .linklevel1, #main_menu .linklevel1:link, #main_menu .linklevel1:visited {
	color: #FEFEFE;
	border: none;
	box-shadow: none;
}

#main_menu .listlevel1 {
	background: #4A4E51;
}

/* Level 1 button hover and focus effects. */
#main_menu .linklevel1:hover, #main_menu .listlevel1:hover .linklevel1,
#main_menu .linklevel3:hover, #main_menu .listlevel3:hover .linklevel3,
#menu_sidebar .linklevel1:hover, #menu_sidebar .listlevel1:hover .linklevel1,
#menu_current_area > strong > .linklevel1 {
	text-decoration: none;
	color: #FEFEFE;
	background: #9FBFDF;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
}

/* Level 1 button hover and focus effects. */
#main_menu .linklevel2:hover, #main_menu .listlevel2:hover .linklevel2,
#main_menu .linklevel3:hover, #main_menu .listlevel3:hover .linklevel3 {
	text-decoration: none;
	color: #000000;
	border-radius: 3px;
	background: #7E8A99 linear-gradient(to bottom, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0) 100%);
}

/* Level 1 active buttons. */
#main_menu .linklevel1.active, #main_menu .listlevel1:hover .active,
#main_menu .linklevel1:hover .pm_indicator {
	color: #7E8A99;
	border-radius: 3px;
	background: #FEFEFE;
}

#main_menu .linklevel1.active {
	color: #FEFEFE;
	background: #4993C5;
}

/* Hover effects for those buttons. */
#main_menu .linklevel1.active:hover, #main_menu .listlevel1:hover .linklevel1.active {
	background: #FEFEFE;
}

#main_menu .linklevel1:hover .pm_indicator, #main_menu .linklevel2:hover .pm_indicator {
	color: #555555;
	border: none;
	background: #919BA9;
	box-shadow: none;
}

#menu_button_avatar > span {
	padding: 4px;
	vertical-align: middle;
}

/* Top level subsection indicators. */
#main_menu .listlevel1.subsections .linklevel1:after {
	font-family: "FontAwesome", Arial, sans-serif;
	position: relative;
	left: 0.25em;
	margin: 0;
	padding: 0;
	content: "\f0d7";
}

/* Level 2 and 3: drop menu wrapper. */
#main_menu .menulevel2, #main_menu .menulevel3 {
	font-size: 0.85em;
	line-height: 2em;
	border-color: #AFAFAF;
	border-top-color: #CFCFCF;
	border-left-color: #BFBFBF;
	border-radius: 3px;
	background: #EBECEF linear-gradient(to bottom, rgba(255, 255, 255, 0.35) 0%, #FEFEFE 100%);
	box-shadow: none;
}

#main_menu .menulevel3 {
	font-size: 1em;
}

/* Tricky count indicators. Define them carefully */
#main_menu .pm_indicator:before {
	content: "[";
}

#main_menu .pm_indicator:after {
	content: "]";
}

#main_menu .pm_indicator {
	font-weight: 600;
	line-height: 1em;
	position: absolute;
	z-index: 100;
	bottom: 2em;
	padding: 4px 5px 6px 5px;
	border-radius: 3px;
	background: #4993C5;
}

.poster_online .pm_indicator {
	font-size: 0.929em;
	font-weight: 700;
	line-height: 1.4em;
	position: relative;
	z-index: 2;
	top: -0.5em;
	right: -2.5em;
	float: left;
	padding: 0 0.4em;
	color: #FEFEFE;
	border-radius: 8px;
	background: #EBECEF;
}

.poster_online .infotext {
	color: #4993C5;
}

#dropdown_menu_1 .pm_indicator {
	margin-top: 5px;
	margin-right: 2px;
}

.likes_indicator {
	font-size: 0.857em;
	font-weight: bold;
	line-height: 1.5em;
	position: absolute;
	z-index: 2;
	top: -1em;
	right: -0.4em;
	float: left;
	min-width: 12px;
	padding: 0 3px;
	text-align: center;
	color: #FEFEFE;
	border-color: #555555;
	border-radius: 50%;
	background: #4A4E51;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

/* Levels 2 and 3 drop menus: link or button. */
#main_menu .linklevel2:link, #main_menu .linklevel2:visited, #main_menu .linklevel3:link, #main_menu .linklevel3:visited {
	color: #686868;
	border-color: transparent;
}

/* Admin menu icons. */
.linklevel2 > img {
	margin: 0 0 0 -4px;
	vertical-align: middle;
}

/* Level 2: subsection indicators. */
#main_menu .listlevel2.subsections .linklevel2:after {
	font-family: "FontAwesome";
	font-size: 1.286em;
	position: relative;
	top: 2px;
	left: 0.25em;
	float: right;
	content: "\f0a9";
}

/* Level 2: subsection indicators. */
.admin_menu .listlevel2.subsections .linklevel2:after {
	font-family: "FontAwesome";
	font-size: 1.286em;
	position: relative;
	top: 2px;
	left: 0.25em;
	float: right;
	content: "\f0a9";
}

/* Proper color for indicators */
#main_menu .listlevel2.subsections .linklevel2:after:hover,
#main_menu .listlevel2.subsections:hover .linklevel2 strong,
#main_menu .listlevel3:hover .linklevel3 strong,
#main_menu .listlevel3.subsections:hover .linklevel3 strong {
	color: #FEFEFE;
}

#menu_sidebar .subsections .linklevel1:after,
#menu_sidebar .subsections:hover .linklevel1:after {
	font-size: 1.286em;
	position: absolute;
	top: 0;
	right: 16px;
	content: "\2192";
	color: #777777;
}

/* Levels 2 and 3: highlighting of current section */
#main_menu .linklevel2.chosen, #main_menu .linklevel3.chosen,
#menu_current_area .linklevel1 {
	font-weight: 700;
}

/* Styles for sidebar menus.
------------------------------------------------------- */
/* Cancel default backgrounds for sidebar. */
#menu_sidebar .linklevel1 {
	color: #555555;
	border-color: transparent;
	background: none;
	box-shadow: none;
}

/* End sidebar flyout coding. */
/*	$MENUS		*/
/* ------------------------------------------------------- */
/* General styling, basically any menu thats not the top menu. */
.linklevel1, .linklevel1:link, .linklevel1:visited {
	color: #555555;
	border-color: transparent;
}

/* Level 1 button hover and focus effects. */
.linklevel1:hover, .listlevel1:hover .linklevel1,
.linklevel2:hover, .listlevel2:hover .linklevel2,
.linklevel3:hover, .listlevel3:hover .linklevel3 {
	text-decoration: none;
	color: #555555;
	border-color: transparent;
	border-top-color: #AFAFAF;
	border-left-color: #AFAFAF;
	background: #F0F0F0;
	box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.07) inset;
}

.poster .linklevel1:hover, .poster .listlevel1:hover .linklevel1 {
	border: none;
	background: inherit;
	box-shadow: none;
}

.poster li.poster_online:hover .linklevel1 {
	color: #555555;
	border-color: #CCCCCC;
	border-top-color: #AFAFAF;
	border-left-color: #AFAFAF;
	background: #F0F0F0;
	box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.07) inset;
}

.poster li.poster_online .nolink {
	line-height: 2em;
	position: relative;
	display: block;
	margin: 3px 1.5em;
	color: #566E4B;
	border-color: #AFAFAF;
	border-top-color: #CFCFCF;
	border-left-color: #BFBFBF;
	background: #F4F4F4 linear-gradient(to bottom, #FEFEFE, #E4E4E4);
	box-shadow: 1px 1px 2px #E5E5E5;
}

.poster li.poster_online .nolink img {
	vertical-align: middle;
}

.poster li.subsections.listlevel1:hover .linklevel1 {
	border: none;
	background: transparent;
	box-shadow: none;
}

/* Level 1 active buttons. */
.linklevel1.active, .listlevel1:hover .active {
	color: #FEFEFE;
	background: #808C9B;
	box-shadow: 1px 1px 2px #BBBBBB;
}

/* Hover effects for those buttons. */
.linklevel1.active:hover, .listlevel1:hover .linklevel1.active,
.linklevel1:hover .pm_indicator {
	color: #555555;
	background: #DDE0E3 linear-gradient(to bottom, #DDE0E3, #EFF0F3);
	box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.3) inset;
}

/* Corrections for other menus. */
.quickbuttons .subsections:hover .linklevel1:after {
	font-size: 1em;
	top: 1.9em;
}

.subsections:hover .name.linklevel1:after {
	font-size: 1em;
	top: 1.6em;
	color: #111111;
}

.poster2 .subsections:hover .name.linklevel1:after {
	top: 1em;
}

/* Do one override here for .poster. Still saves code all round. */
.poster_avatar .linklevel1, .poster_avatar:hover .linklevel1,
.poster_avatar .linklevel1:focus,
.name.linklevel1, .name.linklevel1:hover, .name.linklevel1:focus {
	color: #DDE0E3;
	border: none;
	background: transparent;
	box-shadow: none;
}

.poster {
	position: relative;
}

.poster_noavatar {
	font-size: 1em;
	display: block;
	float: left;
	min-width: 0;
	margin: 0;
	border-bottom-color: #CCCCCC;
}

.poster_noavatar > a {
	text-decoration: none;
}

.poster_avatar {
	margin-bottom: 5px;
}

.poster_area_avatar,
.poster_avatar img,
.poster_area_avatar > .avatar.avatarresize {
	display: inline-block;
	width: 120px;
	max-width: 120px;
	height: 120px;
	max-height: 120px;
	border-radius: 50%;
	object-fit: cover;
}

.poster .icons {
	margin: 0;
}

.postcount {
	cursor: pointer;
}

.billboard {
	float: left;
	overflow: auto;
	box-sizing: border-box;
	width: 33%;
	padding-top: 2px;
	text-align: center;
}

.name.linklevel1:hover {
	text-decoration: underline;
	background-color: #F0F0F0;
}

/* Levels 2 and 3: drop menu wrapper. */
.menulevel2, .menulevel3 {
	border-color: #AFAFAF;
	border-top-color: #CFCFCF;
	border-left-color: #BFBFBF;
	background: #FEFEFE;
	box-shadow: var(--shadow-elevation-medium);
}

.poster .pm_indicator {
	font-size: 1em;
}

#dropdown_menu_1 .pm_indicator {
	margin-top: 5px;
	margin-right: 2px;
}

/* Levels 2 and 3 drop menus: link or button. */
.linklevel2:link, .linklevel2:visited, .linklevel3:link, .linklevel3:visited {
	color: #686868;
	border-color: transparent;
}

/* Admin menu icons. */
.linklevel2 > img {
	margin: 0 0 0 -4px;
	vertical-align: middle;
}

/* Levels 2 and 3: highlighting of current section */
.linklevel2.chosen, .linklevel3.chosen, #menu_current_area .linklevel1 {
	font-weight: 700;
}

/*	$BOARDICONS	*/
/* ------------------------------------------------------- */
.board_icon {
}

.board_icon:before {
}

.on_board:before {
	color: #4993C5;
}

.off_board:before {
	color: #AAAAAA;
}

.redirect_board:before {
	color: #6BA65E;
}

.on2_board:before {
	color: #4993C5;
}

.board_key:before {
}

.new_some_board:before {
	color: #4993C5;
}

.new_none_board:before {
	color: #AAAAAA;
}

.new_redirect_board:before {
	color: #6BA65E;
}

/* -------------------------------------------------------
 *	$LINKTREE
 * -------------------------------------------------------
 */
/* Wrapper/background. */
.navigate_section {
	border-color: #CCCCCC;
	background: #FCFCFC;
	box-shadow: 1px 2px 3px #EEEEEE;
}

/* Color for linktree items. */
.linktree a {
	color: #555555;
}

.linktree:hover, .linktree:last-child {
	background: #DDE0E3;
}

.linktree:hover,
.linktree a:hover,
.linktree:hover span a {
	color: #F0F0F0;
	background: #838E9D;
}

.linktree {
	border-bottom-color: transparent;
}

.linktree:hover:after, .linktree:nth-last-of-type(2):hover:after {
	border-color: transparent transparent transparent #838E9D;
}

.linktree:after {
	border-color: transparent transparent transparent #DDE0E3;
}

.linktree:nth-last-of-type(2):after {
	border-color: transparent transparent transparent #FCFCFC;
}

/* -------------------------------------------------------
 * $BUTTONS
 * This section contains code for the quickbuttons (quote, quick edit, etc)
 * and for the buttonlist class (reply, add poll, notify, etc).
 * These classes share some styling.
 * Declarations are amalgamated where styling is shared.
 * -------------------------------------------------------
 */
/* Styles for the standard button lists.
/* @todo - Save code by amalgamating common button background declarations. */
.buttonlist li {
	color: #555555;
	border-color: #AFAFAF;
	border-top-color: #CF#CFCF;
	border-left-color: #BFBFBF;
	background: #F4F4F4 linear-gradient(to bottom, #FEFEFE, #E4E4E4);
	box-shadow: 1px 1px 2px #E5E5E5, 0 -1px 0 #E4E4E4 inset;
}

/* The active one */
.buttonlist li a.active {
	color: #FEFEFE;
	background: #838E9D;
	box-shadow: 1px 1px 2px #DDE0E3, 0 -1px 0 #838E9D inset;
}

/* The quick buttons. */
.quickbuttons .modified {
	color: #686868;
}

/* Cancel generic border-radius. */
.quickbuttons .linklevel1, .quickbuttons .inline_mod_check, .quickbuttons .quickmod_check {
	color: #555555;
	border-color: #AFAFAF;
	border-top-color: #CFCFCF;
	border-left-color: #BFBFBF;
	background: #F4F4F4 linear-gradient(to bottom, #FEFEFE, #E4E4E4);
	box-shadow: 1px 1px 2px #E5E5E5, 0 -1px 0 #E4E4E4 inset;
}

.quickbuttons .linklevel1:hover {
	border-color: #AFAFAF;
	box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.07) inset;
}

/* Radius left end of the first (Quote) button. */
.linklevel1.quote_button {
}

/* Radius right end of the last button. */
.linklevel1.post_options, .linklevel1.remove_button {
}

/* Single buttons get all corners rounded. */
.follow_ups .linklevel1, #topic_summary .linklevel1 {
}

/* -------------------------------------------------------
 *	$PAGELINKS
 * -------------------------------------------------------
 */
 .selectbox, .pagelinks {
	color: #555555;
}

.pagelinks .navPages {
	color: #555555;
	border-color: #AFAFAF;
	border-top-color: #BBBBBB;
	background-image: linear-gradient(to bottom, #FCFCFC 0%, #E5E5E5 100%);
}

.pagelinks .navPages:hover, .pagelinks .current_page {
	/* @todo - Simplify. */
	color: #555555;
	border-color: #CCCCCC;
	border-top-color: #AFAFAF;
	border-left-color: #AFAFAF;
	background: #F0F0F0;
	box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.07) inset;
}

.pagelinks :first-child {
}

.pagelinks :last-child {
}

/* our buddies &laquo; &raquo; */
.small_pagelinks {
}

.small_pagelinks li a.navPages {
	border-color: #CCCCCC;
}

/* Globally accessible top/bottom links. */
#gotop, #gobottom {
	opacity: 0.2;
	color: #EEEEEE;
	border-color: #222222;
	background: #EEEEEE;
}

#gobottom {
}

#gotop:hover, #gobottom:hover {
	opacity: 1;
	color: #444444;
}

/* Skip navigation link. */
#top {
	border-color: #313131;
	background: #FEFEFE;
}

/* -------------------------------------------------------
 *	$TABLES
 * -------------------------------------------------------
 */
/* A general table class. */
.table_grid {
	border-color: #DDDDDD;
}

.table_head > th {
	color: #555555;
	border-top: 2px solid #DDDDDD;
	border-bottom: 2px solid #DDDDDD;
	background: #FEFEFE;
}

/* Basic cells. */
.table_grid td, .letterspacing {
	border-bottom-color: #CCCCCC;
}

/* Subtle zebra striping for rows. */
.table_grid .standard_row:nth-child(even) {
	background: #FAFAFA;
}

.table_grid .standard_row {
	background: #FEFEFE;
}

/* Legacy highlight color, for selected membergroups etc.
 * Used by JS to show a selected item. Still used in manage languages
 */
.table_grid .standard_row.highlight2 {
	color: #555555;
	background: #D1E1EF;
}

/* For Errors.template.php. */
#errorfile_table .current {
	border-color: #444444;
	background: #FFF5CD;
}

/* -------------------------------------------------------
 * $SETTINGS
 * -------------------------------------------------------
 */
/* Lists - settings use these a lot. */
.settings label {
	color: #585858;
}

/* -------------------------------------------------------
 * $BOARDS
 * -------------------------------------------------------
 * Set up some general framing classes. @todo
 *    .forum_category for board index/sub-boards.
 *    .forumposts for thread pages and recent posts, etc.
 *    .content_category for general divisions around the place.
 * All styled the same in default variant, but available for fun and games.
 */
/* The board categories and newsfader - some shared styling. */
.forum_category, .forumposts, .content_category {
	background: #DEEDDA;
	box-shadow: 1px 2px 3px #EEEEEE;
}


.board_row, .childboard_row, .forumposts > div, .forumposts > li,
.content_category > div, .content_category > li {
	border-color: #CFCFCF;
	background: #FEFEFE;
}

.board_row .parent_board {
}

.childboard_row {
}

.board_latest {
	border-left-color: #CCCCCC;
}

.board_name > a {
	color: #4993C5;
}

.board_stats {
	color: #555555;
}

.lastpost_link > a {
	color: #377828;
}

.board_latest strong {
	color: #555555;
}

.childboards {
	border-top-color: #CCCCCC;
}

.childboard_row h4, .board_new_posts {
	color: #555555;
}

/* Styles for the info center on the board index. */
.ic_section_header {
	border-bottom-color: #DDDDDD;
}

.ic_section_header > a {
	color: #333333;
}

#ic_recentposts li {
	border-top-color: #DDDDDD;
}

#ps_recentposts li, #ps_recenttopics li,
#ps_recentposts td, #ps_recenttopics td {
	border-top-color: transparent;
}

.recentpost > strong > a, .inline > strong > a {
	color: #46823C;
}

#expanded_pages_container a {
	background: #FEFEFE;
}

/* The board description and who-is-viewing stuff. */
#description_board {
	background: #E4E4E4;
	box-shadow: none;
}

#description_board .generalinfo, #forumposts .generalinfo {
	border-color: #DDDDDD;
	border-bottom-color: #CCCCCC;
	background: #FEFEFE;
}

.topic_listing {
	background: #E4E4E4;
	box-shadow: var(--shadow-elevation-low);
}

.topic_listing > li {
	border-color: #DDDDDD;
	border-bottom-color: #CCCCCC;
}

.basic_row:nth-child(odd) {
	background: #FAFAFA;
}

.basic_row:nth-child(even) {
	background: #FEFEFE;
}

.topic_sorting_row {
	background: transparent;
}

#sort_by {
	border-color: #D1D1D1;
}

#sort_by.topic_sorting_recent {
	border-color: #D1D1D1;
}

.sort_by_container {
	border-color: #CCCCCC;
}

.topic_name h4 a {
	color: #555555;
}

.sticky_row .topic_name h4 a, .locked_row.sticky_row .topic_name h4 a {
	color: #555555;
}

.locked_row .topic_name h4 a {
	color: #555555;
}

.sticky_row .topic_name h4 a.new_posts, .locked_row.sticky_row .topic_name h4 a.new_posts, .locked_row .topic_name h4 a.new_posts {
	color: #FEFEFE;
}

.topic_stats {
	color: #686868;
}

.qaction_row {
	background: #FEFEFE;
}

.approvetopic_row, .approve_row {
	background: #FFF5CD;
}

.sticky_row, .locked_row.sticky_row {
	background: #FFFFE0;
}

.locked_row, .locked_row.core_posts {
	background: #F7F7F7;
}

#topic_icons {
	border-color: #DDDDDD;
}

.jump_to_header {
	color: #566450;
	background: #EBEBEB linear-gradient(to bottom, #FAFAFA, #EAEAEA);
	box-shadow: 2px 1px rgba(1, 1, 1, 0.07) inset;
}

.jump_to_header:hover {
	color: #555555;
	background: #F0F0F0;
}

/*	$TOPICS		*/
/* ------------------------------------------------------- */
/* The display template (topic view).
/* Poll vote options */
#poll_options .options {
	border-top-color: #9999AA;
}

/* Poll results */
#poll_options .options .percentage {
	background: #FEFEFE;
}

.poll_gradient {
	border-color: #111111;
	background: #5BA048;
	background-image: linear-gradient(to bottom, #60BC78 0%, #27A348 100%);
}

/* On to the posts */
.forumposts {
	background: #E2E2E2;
	box-shadow: var(--shadow-elevation-low);
}

/* Poster and postarea + moderation area underneath */
.forumposts, .forumposts .post_wrapper, .forumposts .approvebg, .forumposts .approvebg2, .core_posts {
	border-color: #DDDDDD;
	border-bottom-color: #CCCCCC;
	background: #FEFEFE;
}

.poster_container {
	border-color: #F0F0F0 !important;
	box-shadow: var(--shadow-elevation-low);
}

/* Stripping for the posts */
.post_wrapper:nth-of-type(odd) {
	background: #FAFAFA;
}

.post_wrapper:nth-of-type(even) {
	background: #FEFEFE;
}

/* Colors for background of posts requiring approval */
.forumposts .approvebg, .forumposts .approvebg2 {
	background: #FFF5CD;
}

.poster .name {
	color: #46823C;
	border-bottom-color: #CCCCCC;
}

/* Drop menu for the poster info. */
.poster .listlevel1.sfhover .menulevel2, .poster .listlevel1:hover .menulevel2 {
	background: #FEFEFE;
}

.poster .listlevel2 {
	background: #FEFEFE;
}

.report_seperator {
	border-bottom-color: #EEEEEE;
	background: #BBBBBB;
}

/* @todo - Save code by amalgamating common button background declarations. */
.poster_online .linklevel1 {
	border-color: #AFAFAF;
	border-top-color: #CFCFCF;
	border-left-color: #BFBFBF;
	background: #F4F4F4 linear-gradient(to bottom, #FCFCFC 0%, #E5E5E5 100%);
	box-shadow: var(--shadow-elevation-low);
}

.poster_online .linklevel1:hover {
	border-color: #CCCCCC;
	border-top-color: #AAAAAA;
	border-left-color: #BBBBBB;
	background: #F0F0F0;
	box-shadow: var(--shadow-elevation-low);
}

.post_subject {
	color: #555555;
}

.keyinfo h5 a, .keyinfo h5 a strong {
	color: #46823C;
}

.inner, .messageContent {
	border-top-color: #BFBFBF;
}

.keyinfo {
	border-bottom-color: #BFBFBF;
}

/* All the signatures used in the forum. */
.signature, .attachments, .custom_fields_above_signature {
	border-top-color: #BFBFBF;
}

/* attachment details below thumbnails */
.attachment_name, .attachment_details {
	color: #444444 !important;
	border: solid 1px transparent;
	background: transparent !important;
}

.attachment_name {
	border-bottom: none;
}

.attachment_details {
	border-top: none;
	border-radius: 0 0 .5em .5em;
}

.generic_border .attachment_name {
	border: 1px solid transparent;
}

/* Poor Mans lightbox support */
#elk_lightbox {
	background: rgba(0, 0, 0, .5);
}

#elk_lb_content.expand {
	border-color: #FEFEFE;
}

#elk_lb_expand,
#elk_lb_next,
#elk_lb_prev {
	border-color: #444444;
}

#elk_lb_expand:before,
#elk_lb_next:before,
#elk_lb_prev:before {
	color: #2A2825;
}

.new_post_separator:after {
	border-color: #E4E4E4 transparent;
}

.new_post_separator:before {
	border-color: #BBBBBB transparent;
}

.new_post_separator {
	display: block;
	overflow: visible;
}

#elk_lb_expand {
	background: #FEFEFE;
}

#elk_lb_next, #elk_lb_prev {
	background: #FEFEFE;
}

/* Used by video embed JS when autolinking video links */
.elk_video {
	border-color: #27A348;
}

.elk_videoheader {
	border-color: #27A348;
}

.requiredfield:before {
	border-color: transparent;
	border-bottom-color: #437837;
}

.requiredfield {
	color: #FEFEFE;
	border-color: #2D5024;
	border-right-color: #5AA049;
	border-bottom-color: #5AA049;
	background: #437837;
}

/* -------------------------------------------------------
 *	$EDITOR
 * -------------------------------------------------------
 */
/* The main post editor section. */
#preview_body {
	border-color: #DDDDDD;
	border-bottom-color: #CCCCCC;
	background: #FEFEFE;
}

#postAdditionalOptionsHeader, #postDraftOptionsHeader {
}

#postAdditionalOptions, #postDraftOptions {
	border-color: #CCCCCC;
	background: #FDFDFD;
}

#postAdditionalOptionsNC {
	border-color: #CCCCCC;
	background: #FDFDFD;
}

.drop_area {
	color: #444444;
	border: solid 1px #CCCCCC;
	background-color: #E6E6E6;
}

.statusbar {
	border-top-color: #A9CCD1;
	border-bottom-color: #A9CCD1;
	background: #F1F1F1;
}

.statusbar .insertoverlay {
	border-color: #CCCCCC;
}

.insertoverlay .tabs li {
	border-bottom-color: #CCCCCC;
}

.insertoverlay .tabs li.active {
	background-color: #E4E4E4;
}

.statusbar .insertoverlay .button {
	color: #FAFAFA;
	background: #008000;
}

.progressBar {
	border-color: #DDDDDD;
}

.progressBar div {
	color: #FEFEFE;
	background-color: green;
}

.abort {
	border-color: #FF1310;
}

.share {
	background-color: #008000;
}

.drop_attachments_error {
	color: #FF0000;
}

#postMoreOptions, #postAttachment, #postAttachment2 {
	border-top-color: #CCCCCC;
}

#postDraftOptions .settings dd, #postDraftOptions .settings dt {
	border-top-color: #E4E4E4;
}

/* ------------------------------------------------------- */
/*	$MODERATE	*/
/* ------------------------------------------------------- */
.split_messages .post {
	border-top-color: #FEFEFE;
}

/* -------------------------------------------------------
 * $TABS
 * -------------------------------------------------------
 */
.ui-tabs .ui-tabs-panel {
	border-color: #DDDDDD;
	border-top-color: #CCCCCC;
	background: #FEFEFE none repeat scroll 0 0;
}

.ui-tabs .ui-tabs-nav li {
	color: #FEFEFE;
	border: 1px #CCCCCC solid;
	border-radius: 0;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	border-bottom-color: #CCCCCC;
	border-radius: 0;
	outline: none;
	background: #F0F0F0;
}

.ui-tabs .ui-tabs-nav .ui-state-default .ui-tabs-anchor {
	background: linear-gradient(to bottom, #FEFEFE, #E4E4E4) repeat scroll 0 0 #F4F4F4;
}

.ui-tabs .ui-tabs-nav .ui-state-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav .ui-state-active {
	font-weight: bold;
	color: #FEFEFE;
	border-radius: 0;
	background: #808C9B;
	box-shadow: 1px 1px 2px #BBBBBB;
}

.ui-tabs .ui-tabs-nav li.ui-state-hover .ui-tabs-anchor {
	background: linear-gradient(to bottom, #E4E4E4, #FEFEFE) repeat scroll 0 0 #F4F4F4;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3) inset;
}

li.ui-tab.ui-tabs-active.ui-state-active.ui-state-hover,
li.ui-tab.ui-tabs-active.ui-state-active.ui-state-hover .ui-tabs-anchor {
	background: #9FBFDF;
	background: linear-gradient(to bottom, #9FBFDF, #EBECEF);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3) inset;
}

/* -------------------------------------------------------
 * $PROFILE
 * -------------------------------------------------------
 */
#profile_attachments, #profilecenter, #unwatched_topics {
	border-color: #CCCCCC;
	background: #EFEFEF;
	box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
}

.attachment.generic_border {
	border-color: #CCCCCC;
	box-shadow: var(--shadow-elevation-low);
}

#profilecenter .content {
	border: none;
	background: #FEFEFE;
}

.content_noframe {
	box-shadow: none;
}
.profileblock {
	background: none repeat scroll 0 0 #FEFEFE;
}

.profileblock ul li:not(:first-child):before {
	content: "\20\7C\20";
}

/* Profile colors */
.ui-tabs .ui-tabs-panel {
	border-color: #DDDDDD;
	border-top: 1px #CCCCCC solid;
	background: none repeat scroll 0 0 #FEFEFE;
}
#detailedinfo dt, #tracking dt, .profileblock dt {
	color: #555555;
}


.activity_stats li span {
	border-color: #555555;
	background: #EEEEEE;
}

.activity_stats li .bar {
	border-color: #CCCCCC;
	background: #FEFEFE;
}

.activity_stats li .bar div {
	background: #808C9B linear-gradient(to bottom, #363D47 0%, #808C9B 100%);
}

.profile_pie {
	background: url(../../images/stats_pie.png);
}

.topic_details {
	border-bottom-color: #999999;
}

.ignoreboards a {
	border-bottom-color: #C4C4C4;
}

.ignoreboards a:hover {
	border-bottom-color: #555555;
}

.attachment_title {
	border-bottom-color: #CCCCCC;
}

.attachment_block {
	box-shadow: var(--shadow-elevation-medium);
}

#warndiv .ui-widget-header {
	background: transparent;
}

#warndiv .watched .ui-widget-header {
	background: green;
}

#warndiv .moderated .ui-widget-header {
	background: orange;
}

#warndiv .muted .ui-widget-header {
	background: red;
}

#creator dt strong {
	color: #585858;
}

/* -------------------------------------------------------
 * $PERSONAL
 * -------------------------------------------------------
 */
#personal_messages .capacity_bar {
	border-color: #ADADAD;
}

#personal_messages .capacity_bar span {
	border-right-color: #ADADAD;
}

#personal_messages .capacity_bar .empty {
	background: #A6D69D;
}

#personal_messages .capacity_bar .filled {
	background: #EEA800;
}

#personal_messages .capacity_bar .full {
	background: #F10909;
}

.addrules dt.floatleft {
	color: #555555;
}

/* -------------------------------------------------------
 * $CALENDAR
 * -------------------------------------------------------
 */
.birthday {
	color: #920AC4;
}

.event {
	color: #078907;
}

.holiday {
	color: #555080;
}

.calendar_table {
	border-top-color: #DDDDDD;
	background: #DDDDDD;
}

.calendar_table th, .calendar_table td {
	background: #FEFEFE;
}

/* Used to indicate the current day. */
#main_grid .calendar_today, #month_grid .calendar_today {
	border-color: #AAAAAA;
	background: #EBFFD8;
}

#main_grid .weeks {
}

#main_grid .weeks a:hover {
}

#main_grid .days {
}

.weeklist {
	background: #E4E4E4;
}

.weeklist > li {
	border-color: #DDDDDD;
	background: #FEFEFE;
}

.weekdays {
	border-left-color: #DDDDDD;
}

.weeklist h4 a:hover {
}

.modify_event {
	color: red;
}

.hidelink {
}

/* Add a background that fits with the calendar. */
#calendar_navigation {
	border-color: #DDDDDD;
}

/* -------------------------------------------------------
 *	$HELP
 * -------------------------------------------------------
 */
#helpmain {
	border-color: #CCCCCC;
	box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
}

/* Styles for the tooltips. */
.tooltip {
	border-color: #AAAAAA;
	background: #FEFEFE;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

/* The darkened background for help pop-ups. */
.popup_container {
	background: rgba(0, 0, 0, 0.4);
}

/* The actual pop-up wrapper. */
.popup_window {
	border-color: #777777;
	background-color: #FAFAFA;
	background-clip: padding-box;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}

/* The text content, hopefully helpful. */
.popup_content {
	border-color: #BBBBBB;
	border-bottom-color: #CCCCCC;
	background: #F5F5F5;
	box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.15);
}

/* -------------------------------------------------------
 *	$SEARCH
 * -------------------------------------------------------
 */
#mlsearch_options {
	border-color: #DDDDDD;
	background: #FAFAFA;
}

.search_results_posts {
	background: #FEFEFE;
}

.search_results_posts .topic_body {
	border-top-color: #CCCCCC;
	box-shadow: 0 1px 0 #FEFEFE inset;
}

.search_results_posts > li {
	border-bottom-color: #DDDDDD;
}

/* -------------------------------------------------------
 *	$MEMBERLIST
 * -------------------------------------------------------
 */
.mlist .mlist_header div {
}

.mlist li div, .whos_online dt div, .whos_online dd:nth-child(odd) div {
	border-top-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	background-color: #FEFEFE;
}

.mlist li.alternate_row div, .whos_online dd:nth-child(even) div {
	border-top-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	background-color: #FAFAFA;
}

.mlist li div:first-child {
	border-left-color: #CCCCCC;
}

.mlist li div:last-child {
	border-right-color: #CCCCCC;
}

.letter_row > h3 {
	border-color: #CCCCCC;
}

/* -------------------------------------------------------
 *	$LOGIN
 * -------------------------------------------------------
 */
.coppa_contact {
	color: #555555;
	border-color: #555555;
	background: #FEFEFE;
}

.valid_input {
	background: #F5FFF0;
}

.invalid_input {
	background: #FFF0F0;
}

/* -------------------------------------------------------
 *	$BOXES
 * -------------------------------------------------------
 */
/* Lotsa boxes. */
.description, .information, .warningbox, .successbox, .infobox, .errorbox {
	border-color: #CCCCCC;
	background: #FEFEFE;
}

/* Information boxes. */
.information {
	background: #F0F6F0;
}

.warningbox {
	border-top-color: #FFD324;
	border-bottom-color: #FFD324;
	background: #FFF6CA url(../../images/profile/warning_moderate.png) 10px 50% no-repeat;
}

.successbox {
	border-top-color: green;
	border-bottom-color: green;
	background: #EEFFEE url(../../images/icons/field_valid.png) 10px 50% no-repeat;
}

.infobox {
	border-top-color: #3A87AD;
	border-bottom-color: #3A87AD;
	background: #D9EDF7 url(../../images/icons/quick_sticky.png) 10px 50% no-repeat;
}

.errorbox {
	border-top-color: #CC3344;
	border-bottom-color: #CC3344;
	background: #FFEEEE url(../../images/profile/warning_mute.png) 10px 50% no-repeat;
}

.border_error {
	border-color: #FF0000 !important;
}

.warningtext {
	color: #FFF6CA;
}

.successtext {
	color: green;
}

.infotext {
	color: #D9EDF7;
}

.errortext {
	color: #FFEEEE;
}

.stdtext {
	color: #555555;
}

/* -------------------------------------------------------
 *	$PROGRESS
 * -------------------------------------------------------
 */
.progress_bar {
	border-color: black;
	background: white;
	box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
}

.progress_bar .full_bar {
	color: black;
}

.progress_bar .green_percent {
	background-color: green;
}

.progress_bar .blue_percent {
	background-color: blue;
}

/* -------------------------------------------------------
 * $STATISTICS
 * -------------------------------------------------------
 */
.statistics .category_header {
	border-bottom-color: #CCCCCC;
	background: none;
	text-shadow: none;
}

.statistics .flow_hidden, #forum_history .flow_hidden {
	border-color: #DDDDDD;
	background: #FEFEFE;
}

.stats.floatleft {
	border-right-color: #CCCCCC;
}

#top_row .stats dd, .statsbar {
	border-color: #AAAAAA;
	background: #FEFEFE;
}

/* Methinks topic links, etc need a little more oomph next to the orange bars. */
#top_row .stats dd {
	border-color: transparent;
	background: none;
}

/* Status Bar Green */
.statsbar .bar {
	background: #47B263 linear-gradient(to bottom, #6F8CA5 0%, #9FBFDF 100%);
}

/* Absolute positioning stops these breaking the bars on narrow screens. */
.statsbar .righttext {
	background: #FEFEFE;
}

#stats {
}

#like_post_stats_overlay {
	background: rgba(0, 0, 0, .5);
}

/* floating error box currently used by like functionality */
.floating_error {
	color: #404040;
	border-color: #E4E4E4;
	background: #FEFEFE;
}

.floating_error .error_heading {
}

.floating_error .error_msg {
	color: #3D3C3C;
}

.floating_error .error_btn {
	color: #157DFB;
	border-top-color: #D6D6D6;
}

.floating_error .error_btn:hover {
}

/* Panel Tab/button */
.paneltab {
	border-color: #CCCCCC;
	background: #4A4E51;
}

.paneltab a:hover {
	color: #222222;;
}

.paneltab a.open, .paneltab a.close {
	color: #F0F0F0;
}

#panel {
	border-color: #CCCCCC;
	background: #FAFAFA;
}
/* -------------------------------------------------------
 *	$ICONS
 * -------------------------------------------------------
 *
 * Icons. The color file is the place for this since we
 * can't style embedded material.
 *
 * -------------------------------------------------------
 */
.warnicon {
	border-color: #E86100;
}

.iconline {
	border-color: #27A348;
	background: #B4E391;
	background-image: linear-gradient(to bottom, #B4E391 0%, #61C419 50%, #B4E391 100%);
}

.icoffline {
	border-color: #828282;
	background: #BBBBBB;
	background-image: linear-gradient(to bottom, #BBBBBB 0%, #6F6F6F 50%, #BBBBBB 100%);
}

/* -------------------------------------------------------
 *	$MEDIA
 * -------------------------------------------------------
 * @TODO: This should be nearly empty for the colorized sheets.
 *
 * Experimental media queries.
 * NOTE:
 * When setting break points for media queries, don't set them in pixels.
 * Use em instead.
 * Why? Because the point of re-stacking/dropping content is to fit it all
 * in the available space. This is dependent not just on width in pixels,
 * but also on the user-selected text size that is set in the browser.
 *
 * If, for whatever reason (eyesight, pixel pitch, workstation arrangement, etc)
 * a user requires text 50% larger than theme default, then their screen is
 * effectively a lot smaller than its nominal resolution would indicate.
 * If the break points are set in em, suddenly the media queries become equally
 * responsive for all users, without any extra code being required.
 *
 * Testing em break points is just as easy as testing pixels,
 * and it will make more people happier. This is cool. :)
 *
 * Of course, having comments to map em to px for each query is a good idea too.
 */
/* This one does 1024 screens at default font size. */
@media screen and (max-width: 64em) {
	#menu_sidebar {
		border-color: #AFAFAF;
		background: #FEFEFE;
		box-shadow: .2em .2em .2em rgba(0, 0, 0, 0.3);
	}

	.icon-menu {
		border-color: #585858;
	}

	.icon-menu:hover {
		border-color: #27A348;
	}

	.listlevel1#button_profile .linklevel1 {
	}

	.mlist li div.posts {
		border-right-color: #CCCCCC;
	}

	.statusbar .insertoverlay {
		background: #FEFEFE;
	}
}

/* This one does 800 screens at default font size. */
@media screen and (max-width: 50em) {
	.quote-read-more {
		overflow: hidden;
	}

	#menu_sidebar {
		border-color: #AAAAAA;
		border-radius: 0;
		background: #FEFEFE;
		box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
	}

	#menu_nav {
		height: 45px;
	}

	#main_menu .menulevel2 {
		top: 43px;
	}

	#main_menu {
		line-height: 3.077em;
	}

	#main_menu .listlevel1 {
		line-height: 3.077em;
	}

	.indicator[data-icon]:before {
		color: #4993C5;
	}

	#main_menu .linklevel1 {
		margin-right: 2px;
	}

	#main_menu .linklevel1.active, #main_menu .linklevel1.active:hover {
		height: 40px;
		border-color: transparent;
		background: transparent;
	}

	.listlevel1#button_profile .linklevel1 {
		min-width: 0.5em;
	}

	.mlist li div.posts {
		border-right: 1px solid #CCCCCC;
	}

	#news {
		overflow: unset;
	}
}

/* This one does up to 540 screens. */
@media screen and (max-width: 33.750em) {
	#gotop, #gobottom {
		border-color: #222222;
	}

	#gobottom {
		border-radius: 0;
	}

	#gotop {
		border-radius: 0;
	}

	#gotop:hover, #gobottom:hover {
		text-decoration: none;
		opacity: 1;
		color: #444444;
	}

	.board_latest {
		border-left: 0;
	}

	.frame {
		border-radius: 0;
	}

	.board_lastpost {
		border-top-color: #CCCCCC;
	}

	.topic_listing > li {
		border-color: #AAAAAA;
		box-shadow: 3px 3px 6px #E5E5E5;
	}

	.poster:after, .posterarea:before {
		border-bottom-color: #BFBFBF;
	}

	.poster_area_avatar, .poster_avatar img {
		height: 40px;
	}

	.poster_container {
		margin: 1.9em 0.5em 0 0;
		padding: 0.1em 0.1em 0 0;
	}

	.board_icon {
		height: auto;
		margin-top: -18px;
	}

	.forumposts .content {
		background-color: #FAFAFA;
	}

	.forumposts, .forumposts .content {
		margin-top: 8px;
		border-color: #BFBFBF;
		border-radius: 0;
		box-shadow: 3px 3px 6px #E5E5E5;
	}

	.forum_category, .forumposts, .content_category {
		border: none;
		background: #FEFEFE;
	}

	.listlevel2.subsections .linklevel2::after {
		content: "";
	}

	.stats.floatleft {
		border: none;
	}

	.subsections:hover .linklevel1:after {
		content: "";
	}

	.whos_online dd div {
		border-top: none !important;
		border-bottom: none !important;
	}

	.whos_online dd:nth-child(even), .whos_online dd:nth-child(odd) {
		margin-top: 1px;
		border-top-color: #CCCCCC;
	}

	.online_member {
		font-size: 1.6em;
	}

	.track_ip {
		font-size: 0.7em;
		float: right;
	}

	.track_ip:before {
		content: "";
	}

	.track_ip:after {
		content: "";
	}
}

/* This one does up to 480 screens. */
@media screen and (max-width: 30em) {
	.mlist li .group {
		border-right: 1px solid #CCCCCC;
	}
}

/* This one does up to 320 screens. */
@media screen and (max-width: 20em) {
	#button_media {
		display: none;
	}
}
